[Desktop Entry]
Name=Ledger Live
Exec=sh -c "/opt/ledger-live-desktop-{{ ledger_live_version }}-linux-x86_64.AppImage --no-sandbox"
Type=Application
Categories=Finance;
Terminal=false
Icon=/opt/ledgerliveicon.png
